*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  background: white
  font-family: 'Roboto', sans-serif
  h1
    color: black

header
  max-width: 980px
  margin: 70px auto
  height: 20px
  img
    display: inline-block
    float: left
  nav
    ul
      list-style: none
      float: right
      margin: 0
      li
        display: inline-block
        a
          color: #535353
          font-size: 16px
          text-decoration: none
          margin-left: 20px

.wrapper
  max-width: 980px
  margin: 170px auto
  .hero
    position: relative
    min-height: 440px
    box-shadow: inset 0 -1px 0 0 #EAEAEA
    h1
      max-width: 780px
      font-weight: lighter
      font-size: 32px
    img
      position: absolute
      right: 0
      bottom: 0

  .highlighted-projects
    margin-top: 100px
    padding-bottom: 100px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    border-bottom: 1px solid #EAEAEA
    a
      text-decoration: none
      color: black
    .project
      h2
        font-size: 20px
        margin: 15px 0 5px
        font-weight: normal
      p
        font-size: 14px
        opacity: 0.5
        margin-top: 0

  .redirect-link
    margin-top: 50px
    padding-bottom: 10px
    border-bottom: 1px solid #33CC33
