*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  background: white
  font-family: 'Roboto', sans-serif
  h1
    color: black

header
  max-width: 980px
  margin: 70px auto
  height: 20px
  img
    display: inline-block
    float: left
  nav
    ul
      list-style: none
      float: right
      margin: 0
      li
        display: inline-block
        a
          color: #535353
          font-size: 16px
          text-decoration: none
          margin-left: 20px

.wrapper
  max-width: 980px
  margin: 170px auto
  .hero
    position: relative
    min-height: 440px
    border-bottom: 1px solid #EAEAEA
    h1
      max-width: 780px
      font-weight: lighter
      font-size: 32px
    img
      position: absolute
      right: 0
      bottom: 0
