h1 = t 'ventures.intro.title'
p = t 'ventures.intro.description'

h2 = t 'ventures.what.one.number'
p = t 'ventures.what.one.title'
p = t 'ventures.what.one.description'

h2 = t 'ventures.what.two.number'
p = t 'ventures.what.two.title'
p = t 'ventures.what.two.description'

h3 = t 'ventures.portfolio.title'
- t('ventures.portfolio.projects').each do |id, project|
  h4 = project[:title]
  p = project[:description]

h3 = t 'ventures.partnerships.title'
p = t 'ventures.partnerships.description'
