.wrapper.case-study
  .hero-case-study
    h1 = t 'projects.list.trace-radio-app.case-study.title'
    ul.resume
      li
        h2 = t 'projects.client'
        p = t 'projects.list.trace-radio-app.case-study.client'
      li
        h2 = t 'projects.delivery'    
        p = t 'projects.list.trace-radio-app.case-study.delivery'

  p = t 'projects.list.trace-radio-app.case-study.description'

.slider.trace-radio-app-ios  
  div data-fluffy-container=""
    div data-fluffy-content="" 
      = image_tag "work/trace-radio-app-ios-preview.jpg"

.wrapper.case-study

  p = t 'projects.list.trace-radio-app.case-study.quote'
  
.slider.trace-radio-app-android  
  div data-fluffy-container=""
    div data-fluffy-content="" 
      = image_tag "work/trace-radio-app-android-preview.jpg"

.wrapper.work
  .projects.related
    h2.related = t 'work.related'
    = link_to "reech-landing", class: "project"
      = image_tag "work/reech-landing.jpg"
      h2 = t 'projects.list.reech-landing.title'
      p = t 'projects.list.reech-landing.type'
    = link_to "wanted-identity", class: "project"
      = image_tag "work/wanted-identity.jpg"
      h2 = t 'projects.list.wanted-identity.title'
      p = t 'projects.list.wanted-identity.type'
