.wrapper
  h1 💩 Oh shit.
  p You weren’t supposed to find this place.to make this website better.
  = link_to "../", class: "link"
    span Back to homepage → 
  
  p One of the reason why we love so much green color 💚
  iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/rKHh3EIFcZw" width="560" 
  
  span *By the way, did you know that “muxu” means “kiss” in Basque? Voilà.
